body{
  width: auto;
}
.descricao {
  padding: 40px;
  padding-top: 90px;
  display: block;
}
h3{
  font-size: xx-large;
  font-weight: bold;
}
main {
  float: left;
  width: 60%;
  display: inline;
}
main .descricao{
  width: 400px;
  height: 300px;
}
main .imagem-central {
  position: absolute;
  top: 120px;
  left: 35%;
  float: right;
}
aside {
  position: absolute;
  top: 10%;  
  left: 85%;
}
aside button {
  display: block;
  margin-bottom: 20px;
}
footer {
  bottom: 0;
  top: 700px;
  height: 35%;
}